<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahuthj.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.ahuthj.model.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="master_url" property="masterUrl" jdbcType="VARCHAR" />
    <result column="page_num" property="pageNum" jdbcType="INTEGER" />
    <result column="theme_id" property="themeId" jdbcType="INTEGER" />
    <result column="is_use_db" property="isUseDb" jdbcType="INTEGER" />
    <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
    <result column="detail_desc" property="detailDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, product_id, product_name, price, master_url, page_num, theme_id, is_use_db, key_word,
    detail_desc, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ahuthj.model.ProductKey" >
    select 
    <include refid="Base_Column_List" />
    from bs_product
    where id = #{id,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ahuthj.model.ProductKey" >
    delete from bs_product
    where id = #{id,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ahuthj.model.Product" >
    insert into bs_product (id, product_id, product_name, 
      price, master_url, page_num, 
      theme_id, is_use_db, key_word, 
      detail_desc, create_time)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{masterUrl,jdbcType=VARCHAR}, #{pageNum,jdbcType=INTEGER}, 
      #{themeId,jdbcType=INTEGER}, #{isUseDb,jdbcType=INTEGER}, #{keyWord,jdbcType=VARCHAR}, 
      #{detailDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ahuthj.model.Product" >
    insert into bs_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="masterUrl != null" >
        master_url,
      </if>
      <if test="pageNum != null" >
        page_num,
      </if>
      <if test="themeId != null" >
        theme_id,
      </if>
      <if test="isUseDb != null" >
        is_use_db,
      </if>
      <if test="keyWord != null" >
        key_word,
      </if>
      <if test="detailDesc != null" >
        detail_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="masterUrl != null" >
        #{masterUrl,jdbcType=VARCHAR},
      </if>
      <if test="pageNum != null" >
        #{pageNum,jdbcType=INTEGER},
      </if>
      <if test="themeId != null" >
        #{themeId,jdbcType=INTEGER},
      </if>
      <if test="isUseDb != null" >
        #{isUseDb,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="detailDesc != null" >
        #{detailDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahuthj.model.Product" >
    update bs_product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="masterUrl != null" >
        master_url = #{masterUrl,jdbcType=VARCHAR},
      </if>
      <if test="pageNum != null" >
        page_num = #{pageNum,jdbcType=INTEGER},
      </if>
      <if test="themeId != null" >
        theme_id = #{themeId,jdbcType=INTEGER},
      </if>
      <if test="isUseDb != null" >
        is_use_db = #{isUseDb,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="detailDesc != null" >
        detail_desc = #{detailDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahuthj.model.Product" >
    update bs_product
    set product_name = #{productName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      master_url = #{masterUrl,jdbcType=VARCHAR},
      page_num = #{pageNum,jdbcType=INTEGER},
      theme_id = #{themeId,jdbcType=INTEGER},
      is_use_db = #{isUseDb,jdbcType=INTEGER},
      key_word = #{keyWord,jdbcType=VARCHAR},
      detail_desc = #{detailDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="selectAllProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bs_product
  </select>
</mapper>